@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --text-color:white;
    --bg-url:url(assets/bg-oble.jpg);
    --stroke-color:rgba(255, 255, 255, 0.5);
    
}
.light{
    --text-color:black;
    --bg-url:url(assets/br-mobile.jpg);
    --stroke-color:rgba(0, 0, 0, 0.5);
}


body{
    /*Colocar imagem como background */
    background-image: url(assets/bg-oble.jpg);
    /* Imagem de background nao se repete*/
    background-repeat: no-repeat;
    /*Alinha a imagem background ao centro considerando o topo*/
    background-position: top center;
    /*A imagem background se ajusta ocupando todo o espaco*/
    background-size: cover;

    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
body{
    background: var(--bg-url) no-repeat top center/cover;
}

body *{
    color: var(--text-color);
}

.rgbColor{
    animation: coresRGB  5s linear infinite;  
}

#container{
width: 360px;
margin: 56px auto 0px;
padding: 0 24px;
}
#profile img{
    /*Quando o  eleemnto nao se alinh com o margin: `auto`, é necessario usar o display block, ele possblita o uso.*/
    display: block;
    width: 112px;
    margin: auto;

    

}
#profile{
    /*TEXT*/
    text-align: center;
    padding: 24px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*Links*/


ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}


ul li a{
display: flex;
align-items: center;
justify-content: center;

padding: 16px 24px ;


background:rgba(255, 255, 255, 0.1) ;
border:1px solid var(--stroke-color);
border-radius: 8px;

backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);

text-decoration: none;
font-weight: 500;

transition: background 0.2; 
}

/*HOUVER FAZ COM QUE AO PASSAR COM O MOUSE POR CIMA OCORRA UMA ACAO */
ul li a:hover{
    background: rgba(255, 255, 255, 0.1);  
    border: 1px solid var(--text-color);
}

#social-links{
    display: flex;
   
    justify-content: center;

    padding: 24px 0;

    font-size: 24px;
    color: var(--text-color);
}
#social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
}
#social-links a:hover{
background: rgba(255, 255, 255, 0.1);
}

footer{
    padding: 24px 0;
    text-align: center;
}




@keyframes coresRGB{
    0% {
       color: rgb(255, 0, 0);
    }
    33% {
        color: rgb(0, 72, 255);
      }
      66% {
        color: rgb(0, 221, 4);
      }
    100% {
      color: rgb(255, 0, 0);
    }
  }